fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
psycopg[binary]==3.2.2
psycopg2
pydantic==2.9.2
pydantic[email]
pydantic-settings==2.5.2
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.31
alembic==1.13.2
livekit-api==0.7.1
websockets==13.1
reportlab==4.2.5
boto3==1.35.24
pymupdf==1.27.2.2
requests==2.32.3
stripe==15.4.0
setuptools>=69
bcrypt==4.0.1
